@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
* {
  box-sizing: border-box;
  margin: 0;
}

body {
    background-color: lightgreen;
    text-decoration-color: black;
  
    /* Smoothly transition the background color */
    transition: background-color .5s;
    margin-top: 70px;
  }

  ul {
    list-style-type: none;
    display: flex;
    padding: 18px 0;
    background-size: 400% 400%;
    background-image: linear-gradient(-45deg, #ff5959, #ff4040, #ff0d6e, #ff8033,#d74177);
    animation: 12s myGradient infinite;
    border-radius: 40px;
    box-shadow: 3px 3px 20px #ff3352;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  @keyframes myGradient {
    0% {
      background-position: 0% 50%;
    }
    
    50%{
      background-position: 100% 50%;
    }
    
    100% {
      background-position: 0% 50%;
    }
  }
  
  .active {
    transition: 1s;
  }
  
  .active1{
    transition: 1s;
  }
  
  .active2 {
    transition: 1s;
  }
  
  .active3 {
    transition: 1s;
  }
  
  li a {
    color: #fff;
    text-decoration: none;
    padding: 45px 45px;
    font-family: verdana;
    font-weight: lighter;
    font-size: 24px;
    letter-spacing: 1px;
    opacity: 0.9;
  }
  
  .navigation {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 10%;
    left: 40%;
  }
  
  .fa-search:hover {
    color: #fff;
    animation: 1.5s myFlash linear infinite;
    text-shadow: 2px 2px 30px #fff;
    transition: 2s;
  }
  
  .active3:hover {
    color: #fff;
    animation: 1.5s myFlash linear infinite;
    text-shadow: 2px 2px 30px #fff;
    transition: 2s;
    margin-top: -100px;
  }
  
  .active2:hover {
    color: #fff;
    animation: 1.5s myFlash linear infinite;
    text-shadow: 2px 2px 30px #fff;
    transition: 2s;
  }
  
  .active1:hover {
    color: #fff;
    animation: 1.5s myFlash linear infinite;
    text-shadow: 2px 2px 30px #fff;
    transition: 2s;
  }
  
  .active:hover {
    color: #fff;
    animation: 1.5s myFlash linear infinite;
    text-shadow: 2px 2px 30px #fff;
    transition: 2s;
  }
  
  @keyframes myFlash {
    0% {
      opacity: 1;
      text-shadow: transparent;
    }
    
    50% {
      opacity: .1;
    }
    
    100% {
      opacity: 1;
      text-shadow: 2px 2px 20px #fff;
    }
  }
  
  .line-w5 {
    width: 5px;
    height: 200px;
    background: tomato;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 70%;
    border-radius: 30px;
    background-image: linear-gradient(-45deg, #ff408c, #ff4040, #6666ff);
    background-size: 400% 400%;
    animation: 13s myBackground infinite;
    box-shadow: 2px 2px 10px #ff2e38;
    transition: 3s;
  }
  
  @keyframes myBackground {
    0% {
      background-position: 0% 50%;
      opacity: 0%;
    }
    
    50% {
      background-position: 100% 50%;
    }
    
    100% {
      background-position: 0% 50%;
      opacity: 1;
    }
  }
  
  
  @keyframes myLinear {
    0%{
      width: 50px;
    }
    
    100% {
      width: 250px;
    }
  }
  
  .flash-GIF {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ff5959;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 15%;
    left: 10%;
    box-shadow: 2px 2px 20px #d4267d;
    animation: 1.6s myFlash linear infinite;
  }
  
  @keyframes myFlash{
    0% {
      opacity: 1;
    }
    
    50%{
      opacity: .1;
    }
    
    100% {
      opacity: 1;
    }
  }
  
  nav {
    transition: 3s;
    animation: 3s myAnimation ease linear;
  }
  
  @keyframes myAnimation {
    0% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }
  
  .nav-type {
    animation: 3s myWorld ease linear;
  }
  
  @keyframes myWorld {
    0% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }
  
  @media(max-width: 767px) {
    .flash-GIF {
      display: none;
    }
    
    .line-w5 {
      display: none;
    }
    
    .navigation {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 10%;
      left: 50%;
    }
    
    .text-content-fluid {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 65%;
      left: 50%;
    }
    
    ul {
      padding: 15px 0;
    }
    
    
    li a {
      padding: 34px 34px;
      font-size: 23px;
      font-weight: lighter;
    }
    
    .radial-cyrcle {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: tomato;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 70%;
      left: 50%;
      box-shadow: 2px 2px 20px #ff3352;
      background-image: linear-gradient(to top, #ff2657, #ff3333, #ff5900);
    }
  }
  
  .dropdown  a{
    display: block;
    color: #fff;
    text-decoration: none;
    background: tomato;
    width: 100px;
    text-align: center;
    font-family: verdana;
    line-height: 30px;
    display: none;
  
  }
  
  
  .text-content-fluid {
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 53%;
    left: 50%;
    letter-spacing: 25px;
    font-size: 50px;
    font-family: verdana;
  }
  
  @media(max-width: 767px) {
    .text-content-fluid {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 60%;
    }
  }
  
  .line {
    height: 40px;
    width: 2px;
    background: #fff;
    margin: 0;
    position: absolute;
    left: 88%;
    top: 25%;
  }
  
  /*Ideal screen pixel 1317px*/
  
  .dropdown {
    background: red;
    width: 150px;
    height: 350px;
    color: #fff;
    font-family: verdana;
    padding: 20px 30px;
    height: 200px;
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 71%;
    left: 69.2%;
    transition: 2s;
    margin-top: 400px;
    background-size: 400% 400%;
    background-image: linear-gradient(-45deg, #ff0d0d, #ff0d6e, #ff3d0d, #ffff00);
    animation: myLineargradient 6s infinite;
    box-shadow: 2px 3px 20px #ff1700;
  }
  
  @keyframes myLineargradient {
    0% {
      background-position: 0% 50%;
      box-shadow: 2px 3px 20px #ff1700;
    }
    
    50% {
      background-position: 100% 50%;
       box-shadow: none;
    }
    
    100% {
      background-position: 0% 50%;
       box-shadow: 2px 3px 20px #ff1700;
    }
  }
  
  /*top: 71%*/
  
  .drop1 {
    cursor: pointer;
    text-shadow: 1px 2px 18px #fff;
    transition: 2s;
    margin-top: -5px;
  }
  
  .drop2 {
    cursor: pointer;
    text-shadow: 1px 2px 18px #fff;
    transition: 2s;
    margin-top: -5px;
  }
  
  .drop3 {
    cursor: pointer;
    text-shadow: 1px 2px 18px #fff;
    transition: 2s;
    margin-top: -5px;
  }
  
  .drop4 {
    cursor: pointer;
    text-shadow: 1px 2px 18px #fff;
    transition: 2s;
    margin-top: -5px;
  }
  
  .Active {
    transition: 2s;
    margin-top: 1px;
  }

    section {
    
      height: 100vh;
      
      border: 1px solid black;
      
      display: flex;
      
      justify-content: center;
      
      align-items: center;
      
      text-align: center;
      
       
      
      background-size: cover; /* Add this line */
      
      background-position: center center; /* Add this line */
      
      background-repeat: no-repeat; /* Add this line */
      
      background-attachment: fixed; /* Add this line */
      
      }
  
  .player {
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 2px;
  }
  
  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
  }
  
  .sticker1 {
    display: flex;
    align-self: right;
    margin-top: 25px;
    margin-left: 80%;
  }

  .icon-logo {
    display: flex;
    align-self: left;
    margin-top: -20%;
    margin-left: 0%;
  }
  
  .track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-image: url("https://images.pexels.com/photos/262034/pexels-photo-262034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    border-radius: 15%;
  }
  
  .now-playing {
    font-size: 1rem;
  }
  
  .track-name {
    font-size: 3rem;
  }
  
  .track-artist {
    font-size: 1.5rem;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .playpause-track, .prev-track, .next-track {
    padding: 25px;
    opacity: 0.8;
  
    /* Smoothly transition the opacity */
    transition: opacity .2s;
  }
  
  .playpause-track:hover, .prev-track:hover, .next-track:hover {
    opacity: 1.0;
  }
  
  .slider_container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Modify the appearance of the slider */
  .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  /* Modify the appearance of the slider thumb */
  .seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .seek_slider:hover, .volume_slider:hover {
    opacity: 1.0;
  }
  
  .seek_slider {
    width: 60%;
  }
  
  .volume_slider {
    width: 30%;
  }
  
  .current-time, .total-duration {
    padding: 10px;
  }
  
  i.fa-volume-down, i.fa-volume-up {
    padding: 10px;
  }
  
  i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
    cursor: pointer;
  }

  #about{
    font-family: Comic Sans MS;
    font-size: medium;
  }

  .about {
    font-size: 3rem;
    text-decoration-color: black;
  }

  .contact {
    font-size: 3rem;
  }

  .speech {
    position: relative;
    display: inline-block;
    color:#fff;
    max-width: 260px;
    background-color: #2e7384;
    margin-top: -10px;
    margin-left: 60%;
    padding: 7px;
    border-radius: 6px;
  }
  
  .speech:after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: -23px;
    width: 30px;
    height: 25px;
    background: radial-gradient(circle at top right, transparent 58%, #2e7384 60%);
  }

  .wix {
    margin-left: 80%;
    margin-top: 5%;
  }

  .arrow {
    margin-left: 70%;
    margin-top: 0%;
  }
